.travelData {
  padding: 10px;
}

.travelData input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.travelOrder {
  border: 1px solid #0000FF;
  margin-bottom: 20px;
}

.travelReport {
  border: 1px solid #0000FF;
}